/* header and nav layout */
header .nav-wrapper {
  background-color: var(--header-color);
  width: 100%;
  z-index: 2;
  position: fixed;
  color: white;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  height: var(--nav-height);
  font-family: var(--body-font-family);
  padding: 0 2rem;
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav .nav-links .default-content-wrapper {
  display: flex;
  flex-direction: row;
}

header nav .nav-links .default-content-wrapper > * {
  padding-right: 9px;
}



/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}



