/* header and nav layout */
header .nav-wrapper {
  background-color: var(--header-color);
  width: 100%;
  z-index: 2;
  position: fixed;
  color: var(--brand-white);
}


header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: auto;
  height: var(--nav-height);
  font-family: var(--body-font-family);
  padding: 0 2rem;
}

header nav p {
  margin: 0;
  line-height: 1;
}


/*logo*/
header nav .nav-logo{
  width: 55px;
  height: auto;
  padding-right: 10px;
}

header nav .nav-logo img{
  width: 55px;
  height: auto;
  filter: invert(100%);
}
/* brand */
header .nav-brand {
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  padding-bottom: 5px;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

header nav .nav-brand .default-content-wrapper  * {
  color:var(--brand-white);
}

header nav .nav-brand .default-content-wrapper  *:hover {
  text-decoration: none;
}

/* links */
header nav .nav-links .default-content-wrapper {
  display: flex;
  flex-direction: row;
}

header nav .nav-links .default-content-wrapper > * {
  padding-right: 9px;
}

header nav .nav-links .default-content-wrapper  * {
  color:var(--brand-white);
}

header nav .nav-links .default-content-wrapper  *:hover {
  text-decoration: none;
  color:var(--brand-select-white);
}