.cards-extended ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  padding: 20px;
}
.cards-extended > ul > li {
  background-color: var(-background-color);
  display: flex;
  justify-content: center;
  max-width: 200px;
  
}

.cards-extended .product {
  margin: 16px;
  width: max-content;
}


.cards-extended > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 30px;
}

.product{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.product .product-title{
  font-size: 21px;
  font-weight: 600;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 2; 
  height: 70px;
  margin:5px;
}
/*
.product .product-description{
  text-align: justify;
  font-style: italic;
  font-size: 16px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box; 
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 4; 
}
*/

.product .product-price{
  font-size: 18px;
  color: #656565;
  margin:5px;
  
}

.product .product-price::before{
  content: "$";
}

